.jumbotron{
    background-image: url("../images/heart_mid.jpeg");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-color:rgb(17, 24,53);
    color: whitesmoke;
    text-align: center;
}
      

      