body {

    color: #f7f7f7;

  }

.jumbotron {
background-size: 100% 100%;
text-align: center;
}

label {
 
  display:block;

}

.jumbotron{
  background-image: url("../images/heart.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-color:whitesmoke;
  color: rgb(41, 41, 73);
  text-align: center;
}
