<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cardiovascular Disease Checker</title>

    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous"
    /> -->

    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cardiovascular Disease Checker</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      
        <style>
        .jumbotron
          {
          color:white;
          background-color:rgb(120, 182, 161);
          }
      
        .chart {
        max-height: calc(200px + 20px) !important;
        overflow:hidden;
        }
      
        </style>  

    <link rel="stylesheet" href="static/css/style.css">

  </head>


    <body>
        <div class="container">
            <div class="row">
              <div class="col-md-12 jumbotron text-center">
                <h1>Cardiovascular Disease Checker</h1>
                <p>Use the interactive form below to get the probability of getting Cardiovascular Disease</p>
                <p>Use the interactive charts below check the dataset</p>
              </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-3" style="background-color:rgb(120, 182, 161)">
                        <!-- <form class="bg-dark" > -->
                        <form style="background-color:rgb(120, 182, 161)"> 
                            <p>Please Input Your Data Here</p>
                            <ul class="list-group">   
                                <li class="list-group-item" style="background-color:lightyellow">
                                    <!-- <div class="form-group" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                                        <label for="date">Enter Date </label>
                                        <input type="text" class="form-control form-control-sm input-sm"  placeholder="1/10/2010" id="datetime" />
                                    </div> -->
                                    <label for="age" style="color:lightslategray;">Enter Age</label>
                                    <input type="text" class="form-control form-control-sm"  placeholder="enter a number here" id="age"/>
                                    <label for="gender" style="color:lightslategray;">Enter gender: Female=1, Male=2</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="enter 1 or 2" id="gender" />
                                    <label for="height">Enter height</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="enter a number here" id="height" />
                                    <label for="weight">Enter weight</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="enter a number here" id="weight" />
                                    <label for="ap_hi">Enter ap_hi</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="enter a number here" id="ap_hi" />
                                    <label for="ap_lo">Enter ap_lo</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="enter a number here" id="ap_lo" />
                                    <label for="cholesterol">Enter cholesterol</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="enter 0,1 or 2" id="cholesterol" />
                                    <label for="gluc">Enter gluc</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="enter 0 or 1" id="gluc" />
                                    <label for="smoke">Enter smoke: Yes=1, No=0</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="enter 0 or 1" id="smoke" />
                                    <label for="alco">Enter alco: Yes=1, No=0</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="enter 0 or 1" id="alco" />
                                    <label for="active">Enter active: Yes=1, No=0</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="enter 0 or 1" id="active" />
        
                                </li>
                                <li class="list-group-item">
                                    <button id="filter-btn" type="button" style="background-color:rgb(120, 182, 161)" >Submit</button>
                                </li>
                            </ul>
                        </form>
                    </div>
        
                    <div class="col-md-4" style="background-color:teal;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                <th>Probobility of Cardiovascular Disease: </th>
                                </tr>
                                <tr><td id='result'></td></tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


              <!-- <div class="col-md-2">
                <div class="well">
                  <h5>Test Subject ID No.:</h5> -->
                  <!-- <select id="selDataset"></select> -->
                  <!-- <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Demographic Info</h3>
                  </div>
                  <div id="sample-metadata" class="panel-body"></div>
                </div>
              </div>
              <div class="col-md-5">
                <div id="bar"></div>
              </div>
              <div class="col-md-5 chart">
                <div id="gauge"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div id="bubble"></div>
              </div>
            </div>
        </div> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
    <script src="static/app.js"></script>

  </body>
